<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

        <title>Mirrulations Developer Dashboard</title>
    </head>

    <body>
        <header class="blue"><a href="/"><button>Client Dashboard</button></a></header>
        <div class="dashboard">
            <div class="dashboard-heading">
                <h1>Mirrulations Dashboard</h1>
            </div>
                <div class="container-section">
                        <div class="card header-card">
                            <div class="info-container">
                                <div class="info-container-data">
                                    <h3>Work Generator</h3>
                                    <span id="work-generator-status">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="card header-card">
                            <div class="info-container">
                                <div class="info-container-data">
                                    <h3>Redis</h3>
                                    <span id="redis-status">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="card header-card">
                            <div class="info-container">
                                <div class="info-container-data">
                                    <h3>nginx</h3>
                                    <span id="nginx-status">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="card header-card">
                            <div class="info-container">
                                <div class="info-container-data">
                                    <h3>Rabbit MQ</h3>
                                    <span id="rabbitmq-status">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="card header-card">
                            <div class="info-container">
                                <div class="info-container-data">
                                    <h3>Client</h3>
                                    <span id="client-status">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- JS -->
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>

</html>
