<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

        <title>Mirrulations Dashboard</title>
    </head>

    <body>
        <header class="blue"><a href="/dev"><button>Developer Dashboard</button></a></header>
        <div class="dashboard">
            <div class="dashboard-heading">
                <h1>Mirrulations Dashboard</h1>
            </div>
            <div class="container">
                <div class="progress-section">
                    <div class="card">
                        <div class="progress-container">
                            <h3 class="corpus-header">Approximated Progress to Corpus</h3>
                            <div class="total-to-corpus">
                                <div class="progress-bar-to-corpus blue" value="0">.</div>
                            </div>
                            <div class="corpus-progress left" id="progress-to-corpus-bar-percentage">0%</div>
                            <div class="corpus-progress center" id="jobs-queued-number">0</div>
                        </div>
                    </div>
                </div>               
                    <div class="card-corpus-stats">
                        <h3>Corpus Stats</h3>
                        <div class="container-section">
                            <div class="card header-card">
                                <div class="info-container">
                                    <div class="info-container-data">
                                        <h3>Dockets</h3>
                                        <caption>Downloaded:</caption>
                                        <br>
                                        <span id="dockets-done-number">0</span>
                                        <br>
                                        <span id="dockets-done-percent">0</span>
                                        <br>
                                        <caption>Out of:</caption>
                                        <span id="regulations-total-dockets-number">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card header-card">
                                <div class="info-container">
                                    <div class="info-container-data">
                                        <h3>Documents</h3>
                                        <caption>Downloaded:</caption>
                                        <br>
                                        <span id="documents-done-number">0</span>
                                        <br>
                                        <span id="documents-done-percent">0</span>
                                        <br>
                                        <caption>Out of:</caption>
                                        <span id="regulations-total-documents-number">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card header-card">
                                <div class="info-container">
                                    <div class="info-container-data">
                                        <h3>Comments</h3>
                                        <caption>Downloaded:</caption>
                                        <br>
                                        <span id="comments-done-number">0</span>
                                        <br>
                                        <span id="comments-done-percent">0</span>
                                        <br>
                                        <caption>Out of:</caption>
                                        <span id="regulations-total-comments-number">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card header-card">
                                <div class="info-container">
                                    <div class="info-container-data">
                                        <h3>Attachments</h3>
                                        <caption>Downloaded:</caption>
                                        <br>
                                        <span id="attachments-done-number">0</span>
                                        <br>
                                        <span id="attachments-done-percent">0</span>
                                        <br>
                                        <caption>Out Of:</caption>
                                        <span id="regulations-total-attachments-number">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card header-card">
                                <div class="info-container">
                                    <div class="info-container-data">
                                        <h3>PDFs</h3>
                                        <caption>Extracted:</caption>
                                        <br>
                                        <span id="pdf-extractions-done-number">0</span>
                                        <br>
                                        <span id="pdf-extractions-done-percent">0</span>
                                        <br>
                                        <caption>Extracted</caption>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
                            <!-- JS -->
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>

</html>