* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f9fa;
    font-family: 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
}

header {
    text-align: right;
    box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
  }

button {
    height: 100%;
    border: transparent;
    background: transparent;
    color: white;
    display: inline-block;
    padding: 10px;
    transition-duration: 0.4s;
  }
  
button:hover {
    background: #729dfc;
    cursor: pointer;
}

/* Utilities */
.container {
    max-width: 1220px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 10px;
    height: 100%;
}

.container-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-corpus-stats {
    background-color: #fff;
    color: #333;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
    justify-content: center;
    text-align: center;
}

.card {
    position: relative;
    display: flex;
    background-color: #fff;
    color: #333;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-container {
    width: 160px;
}

.data-container {
  display: block;
  padding: 5px;
}

.data-container span{
    display: inline;
    font-weight: 500;
    color: #6c757d;
}

.data-container-heading {
    display: inline-flex;
    padding-right: 5px;
    font-weight: bold;
}

/* Dev side specific css */
.card.header-card {
    border-radius: 2rem;
    padding: 10px 18px;
    align-items: center;
    justify-content: center;
}

.header-card .info-container {
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 2rem;
}

.info-container-data {
    padding-left: 18px;
}

.info-container-data span{
    font-weight: 500;
    color: #6c757d;
    padding-right: 5px;
}

/* Dashboard */
.dashboard-heading {
    text-align: center;
    margin: 50px auto;
}

.dashboard-heading h1{
    font-size: 2.4rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #4C84FF;
}

/* Colors */
.blue {
    background-color: #4C84FF;
    stroke: #4C84FF;
}

.violet {
    background-color: #DF99CA;
    stroke: #DF99CA;
}

.green {
    background-color: #7CF29C;
    stroke: #7CF29C;
}

.orange {
    background-color: #FFA500;
    stroke: #FFA500;
}

.red {
    background-color: #F0404C;
    stroke: #F0404C
}

/* Progress to Corpus */
.progress-container {
    width: 100%;
    padding-bottom: 25px;
}

.total-to-corpus {
    width: 100%;
    background: rgb(238,238,238);
    border-radius: 16px;
  }

  .progress-bar-to-corpus {
    width: 0%;
    border-radius: 16px;
    color: #4C84FF;
    animation: onReload 2s ease-out forwards;
  }

  .corpus-header {
    padding-bottom: 10px;
  }

  .corpus-progress {
    position: absolute;
  }

.left {
  padding-top: 5px;
  padding-left: 10px;
}
.center {
  left: 44%;
  padding-top: 5px;
}

.right {
  padding-top: 5px;
  padding-right: 5px;
}

  @keyframes onReload {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
    }
  }

/* Circular Chart */
.circular-chart {
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 120px;
  }

  .circle-back {
    fill: none;
    stroke-width: 1.5;

    stroke: rgb(238,238,238);
  }
  
  .circle-front {
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    animation: progress 2s ease-out forwards;
    stroke-dasharray: 0 100;
  }

  .circle-percentage {
    text-anchor: middle;
    font-size: 0.4rem;
    fill: #6c757d;
    opacity: 0;
    transform: translateY(30%);
    animation: display 2s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

@keyframes display {
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}